.header {
  grid-area: header;
  background: #ffffff;
}
.header__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .header__logo { */
.header__logo > .header__link {
  font-size: 2rem;
  font-weight: bold;
}
.header__link {
  font-family: var(--main-font);
  color: #000000;
  text-decoration: none;
}
.header__account {
  font-size: 1.8rem;
}
.header__account > .header__link {
  margin-left: 1rem;
}
.header__account > .header__link:hover {
  text-decoration: underline;
}