.navbar {
  grid-area: navbar;
  background: #fff3bf;
}
.navbar__menu {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
.navbar .container {
  border-left: 1px solid #ffec99;
}
.navbar__item {
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  border-right: 1px solid #ffec99;
  display: flex;
  align-items: center;
  transition: 0.4s;
}
.navbar__item--active {
  background: #ffec99;
}
.navbar__item:hover {
  background: #ffec99;
}
.navbar__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: var(--main-font);
  font-size: 2rem;
  color: #000000;
  text-decoration: none;
}
