@import './components/Header.css';
@import './components/Navbar.css';
@import './components/Footer.css';
@import './components/TestsList.css';
@import './components/TestItem.css';

@import './fonts.css';

:root {
  --main-font: 'Play', sans-serif;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 6rem 1fr 6rem;
  grid-template-areas: 
  "header"
  "navbar"
  "main"
  "footer";
  background: #ffec99;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  height: 100%;
}

.main {
  grid-area: main;
  font-family: var(--main-font);
}
